*{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: #f1f1f1;
}
.header {
  padding: 30px;
  text-align: center;
  background:white;
}
.header h1 {
  font-size:50px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
