ul{
    list-style-type: none
}
a{
    text-decoration:none;
}
li{
    display: inline;
    text-decoration: none;
    font-family: serif;
}
li a:hover{
    background-color:lightblue;
    text-decoration:none;
}
